---
import MainLayout from '../layouts/MainLayout.astro';

// import the Image component and the image

import { Image } from 'astro:assets';
// Infobox Images
import info1Image from '../assets/images/info-daylight.jpg';
import info2Image from '../assets/images/info-ecom.jpg';
import info3Image from '../assets/images/info-highlight.jpg';
import info4Image from '../assets/images/info-blackbox.jpg';
import info5Image from '../assets/images/info-poddstudion.jpg';
// Section Background image Mobile Images
import Daylight from '../assets/images/daylight.jpg';
import Ecom from '../assets/images/ecom.jpg';
import Highlight from '../assets/images/highlight.jpg';
import Blackbox from '../assets/images/blackbox.jpg';
import Poddstudion from '../assets/images/poddstudion.jpg';
---

<!-- Daylight -->
<MainLayout title="Studion">
  <section id="Daylight" class="pt-16">
    <div class="">
      <Image
        src={Daylight}
        alt="Daylight"
        class="w-full object-center block sm:hidden"
      />

      <video
        id="video1"
        class="inset-0 w-full hidden sm:block"
        playsinline
        autoplay
        muted
        loop
      >
        <source src="../assets/video/daylight.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="max-w-3xl m-auto text-center mt-6">
      <h2 class="text-lg text-gray-900 sm:text-xl uppercase">
        DAYLIGHT | REJÄLA UTRYMMEN OCH FANTASTISKT LJUS
      </h2>
      <p class="pt-4">
        1200 kvadratmeter fördelat på 4 studios, podd-studio och sköna sociala
        utrymmen. Ojämförbart med allt och med obegränsade möjligheter erbjuder
        studion produktioner i allt från flerrumsbyggen, vassåkrar och ösregn
        till totalt mörker och dagsljus. Livesändningar, podd-produktioner,
        snickeri och ytor för volym och logistik. Oavsett du kommer som
        produktionsbolag, fotograf eller inhouseavdelningen kommer din
        produktion nå nya höjder på studion. Här finns inga problem, bara
        lösningar i en historisk atmosfär!
      </p>
    </div>
    <!-- Infobox Daylight -->
    <div class="bg-gray-100 w-full">
      <div class="grid grid-rows-1 sm:grid-cols-2 max-w-7xl mx-auto mt-8">
        <div class="grid grid-cols-2 text-sm">
          <div class="w-full m-4">
            <ul class="">
              MÅTT
              <li class="">B: 11,6 m</li>
              <li class="">D: 20,5 m</li>
              <li class="">H: 5,1 m</li>
            </ul>
            <ul class="mt-2">
              <li class="">Fönster</li>
              <li class="">Vägg</li>
              <li class="">2st 310x310</li>
              <li class="">1st 155x200</li>
              <li class="">väderstreck syd</li>
              <li class="">Tak 20x2 m</li>
            </ul>
          </div>
          <div class="w-full m-4">
            <ul class="">
              ELEKTRISITET
              <li class="">1st 3-fas 64 amp</li>
              <li class="">3st 3-fas 16 amp</li>
            </ul>
            <ul class="mt-2">
              LJUD
              <li class="">Sonos</li>
            </ul>
            <ul class="mt-2">
              BALKONG
              <li class="">Flyttbar entresol höjd 3,4 m</li>
            </ul>
          </div>
        </div>
        <div class="bg-gray-200 m-4">
          <Image
            src={info1Image}
            alt="Info"
            class="w-full h-full object-center object-cover"
          />
        </div>
      </div>
    </div>
    <div class="w-full h-12 bg-gray-900"></div>
  </section>

  <section id="Ecom" class="">
    <div class="">
      <Image
        src={Ecom}
        alt="Ecom"
        class="w-full object-center block sm:hidden"
      />
      <video
        id="video1"
        class="inset-0 w-full hidden sm:block"
        playsinline
        autoplay
        muted
        loop
      >
        <source src="../assets/video/ecom.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="max-w-3xl m-auto text-center mt-6">
      <h2 class="text-lg text-gray-900 sm:text-xl uppercase">
        E-COM | INGET SPRING GER TAJTA PRODUKTIONER
      </h2>
      <p class="pt-4">
        En utpräglad modestudio på 102 m2 (12x8,5meter) med 6 meter till tak.
        Med direkt anslutning till modellrum och plats för hantering av kläder
        är det ett logistiskt mästerverk! Rundhorisont över tak, golv samt i
        hörn, utrustad med flyttbar entresol för fotografering från ovan finns
        inga begränsningar ur ett kreativt perspektiv.
      </p>
    </div>
    <!-- Infobox Ecom -->
    <div class="bg-gray-100 w-full">
      <div class="grid grid-rows-1 sm:grid-cols-2 max-w-7xl mx-auto mt-8">
        <div class="grid grid-cols-2 text-sm">
          <div class="w-full m-4">
            <ul class="">
              MÅTT
              <li class="">B: 8,2 m</li>
              <li class="">D: 11,8 m</li>
              <li class="">H: 5,1 m</li>
            </ul>
            <ul class="mt-2">
              <li class="">Fönster</li>
              <li class="">Vägg</li>
              <li class="">2st 310x310</li>
              <li class="">Mot Daylight</li>
              <li class="">AC</li>
            </ul>
          </div>
          <div class="w-full m-4">
            <ul class="">
              ELEKTRISITET
              <li class="">1st 3-fas 16 amp</li>
              <li class="">64 amp möjlig via kabel</li>
            </ul>
            <ul class="mt-2">
              LJUD
              <li class="">Sonos</li>
            </ul>
            <ul class="mt-2">
              BALKONG
              <li class="">Flyttbar entresol höjd 3,4 m</li>
              <li class="">Talgor och block på traverser</li>
              <li class="">Modell och prepp.rum i anslutning</li>
            </ul>
          </div>
        </div>
        <div class="bg-gray-200 m-4">
          <Image
            src={info2Image}
            alt="Info"
            class="w-full h-full object-center object-cover"
          />
        </div>
      </div>
    </div>
    <div class="w-full h-12 bg-gray-900"></div>
  </section>

  <section id="Highlight" class="">
    <div class="">
      <Image
        src={Highlight}
        alt="Highlight"
        class="w-full object-center block sm:hidden"
      />
      <video
        id="video1"
        class="inset-0 w-full hidden sm:block"
        playsinline
        autoplay
        muted
        loop
      >
        <source src="../assets/video/highlight.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="max-w-3xl m-auto text-center mt-6">
      <h2 class="text-lg text-gray-900 sm:text-xl uppercase">
        HIGHLIGHT | 100% FRI GOLVYTA
      </h2>
      <p class="pt-4">
        Studion är 102 m2 (12x8,5meter) med rundhorisont mot tak, golv och i
        hörn. ”Highlight” är utrustad med Bowens Hi-Glide taksystem. Taksystemet
        funkar lika bra till att hänga lampor för stativlöst ljus som att hänga
        produkter eller innertak på ett flexibelt sätt. Underkanten på systemet
        mäter 5 meter från golv.
      </p>
    </div>
    <!-- Infobox Highlight -->
    <div class="bg-gray-100 w-full">
      <div class="grid grid-rows-1 sm:grid-cols-2 max-w-7xl mx-auto mt-8">
        <div class="grid grid-cols-2 text-sm">
          <div class="w-full m-4">
            <ul class="">
              MÅTT
              <li class="">B: 11,8 m</li>
              <li class="">D: 8,2 m</li>
              <li class="">H: 5,1 m</li>
            </ul>
            <ul class="mt-2">
              <li class="">Fönster</li>
              <li class="">Vägg</li>
              <li class="">2st 310x310</li>
              <li class="">Mot korridor</li>
            </ul>
          </div>
          <div class="w-full m-4">
            <ul class="">
              ELEKTRISITET
              <li class="">1st 3-fas 16 amp</li>
              <li class="">64 amp möjlig via kabel</li>
            </ul>
            <ul class="mt-2">
              LJUD
              <li class="">Sonos</li>
            </ul>
            <ul class="mt-2">
              HIGHGLIDE
              <li class="">Saxarmar för ljus</li>
              <li class="">Talgor och block på traverser</li>
              <li class="">Justerbart (x,y,z) innertak 3,5x5,5m</li>
            </ul>
          </div>
        </div>
        <div class="bg-gray-200 m-4">
          <Image
            src={info3Image}
            alt="Info"
            class="w-full h-full object-center object-cover"
          />
        </div>
      </div>
    </div>
    <div class="w-full h-12 bg-gray-900"></div>
  </section>

  <section id="Blackbox" class="">
    <div class="">
      <Image
        src={Blackbox}
        alt="Blackbox"
        class="w-full object-center block sm:hidden"
      />
      <video
        id="video1"
        class="inset-0 w-full hidden sm:block"
        playsinline
        autoplay
        muted
        loop
      >
        <source src="../assets/video/blackbox.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="max-w-3xl m-auto text-center mt-6">
      <h2 class="text-lg text-gray-900 sm:text-xl uppercase">
        BLACKBOX | BÖRJA LJUSSÄTTNINGEN FRÅN NOLL
      </h2>
      <p class="pt-4">
        85 m2 svart studio med 6 meter till tak som erbjuder totalt mörker och
        full kontroll på vaje blänk. 3-fas, fast balkong och svart rundhorisont
        mot tak, golv och i hörn - mer behöver inte sägas!
      </p>
    </div>
    <!-- Infobox Blackbox -->
    <div class="bg-gray-100 w-full">
      <div class="grid grid-rows-1 sm:grid-cols-2 max-w-7xl mx-auto mt-8">
        <div class="grid grid-cols-2 text-sm">
          <div class="w-full m-4">
            <ul class="">
              MÅTT
              <li class="">B: 8,4 m</li>
              <li class="">D: 10,2 m</li>
              <li class="">H: 5,2 m</li>
            </ul>
            <ul class="mt-2">
              <li class="">Inga Fönster</li>
              <li class="">Talgor och block i tak</li>
            </ul>
          </div>
          <div class="w-full m-4">
            <ul class="">
              ELEKTRISITET
              <li class="">1st 3-fas 16 amp</li>
              <li class="">64 amp möjlig via kabel</li>
            </ul>
            <ul class="mt-2">
              LJUD
              <li class="">Sonos</li>
            </ul>
            <ul class="mt-2">
              BALKONG
              <li class="">Fast 3,7x2 m</li>
            </ul>
          </div>
        </div>
        <div class="bg-gray-200 m-4">
          <Image
            src={info4Image}
            alt="Info"
            class="w-full h-full object-center object-cover"
          />
        </div>
      </div>
    </div>
    <div class="w-full h-12 bg-gray-900"></div>
  </section>
  <section id="Poddstudion" class="">
    <div class="">
      <Image
        src={Poddstudion}
        alt="Poddstudion"
        class="w-full object-center block sm:hidden"
      />
      <video
        id="video1"
        class="inset-0 w-full hidden sm:block"
        playsinline
        autoplay
        muted
        loop
      >
        <source src="../assets/video/poddstudion.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="max-w-3xl m-auto text-center mt-6">
      <h2 class="text-lg text-gray-900 sm:text-xl uppercase">
        PODDSTUDION | ENKLARE KAN DET INTE BLI
      </h2>
      <p class="pt-4">
        Ljuddämpad ljud/TV-studio, startklar för inspelning eller sändning av
        podd, voiceover och tv. 3 kameror + kanal för grafik och förinspelat
        material, bild- och ljudmixer. Poddstudion kan hyras per timme med,
        eller utan tekniker/producent. I huset finns även en podd-coach med
        gedigen efarenhet av arbete med podd om du behöver hjälp att koma igång
        eller bolla idéer.
      </p>
    </div>
    <!-- Infobox Poddstudion -->
    <div class="bg-gray-100 w-full">
      <div class="grid grid-rows-1 sm:grid-cols-2 max-w-7xl mx-auto mt-8">
        <div class="grid grid-cols-2 text-sm">
          <div class="w-full m-4">
            <ul class="">
              MÅTT
              <li class="">B: 5,6 m</li>
              <li class="">D: 5 m</li>
              <li class="">H: 2,7 m</li>
            </ul>
            <ul class="mt-2">
              <li class="">Fönster</li>
              <li class="">Spröjsad glas vägg mot korridor</li>
              <li class="">Ljuddämpad i tak, väggar och golv.</li>
            </ul>
          </div>
          <div class="w-full m-4">
            <ul class="">
              ELEKTRISITET
              <li class="">Vägguttag 1-fas 240v</li>
              <li class="">3-fas möjligt via kabel</li>
            </ul>
            <ul class="mt-2">
              LJUD & BILD
              <li class="">Ljudmixer 8 kanaler</li>
              <li class="">Bildmixer 4 kanaler</li>
              <li class="">Monitorer och tv-skärmar</li>
              <li class="">Div. lurar, mikrofoner, stativ och kablage.</li>
              <li class="">Kontakta oss specad. info</li>
            </ul>
          </div>
        </div>
        <div class="bg-gray-200 m-4">
          <Image
            src={info5Image}
            alt="Info"
            class="w-full h-full object-center object-cover"
          />
        </div>
      </div>
    </div>
    <div class="w-full h-12 bg-gray-900"></div>
  </section>

  <script>
    function playPauseVideo() {
      let videos = document.querySelectorAll('video');
      videos.forEach((video) => {
        // We can only control playback without insteraction if video is mute
        video.muted = true;
        // Play is a promise so we need to check we have it
        let playPromise = video.play();
        if (playPromise !== undefined) {
          playPromise.then((_) => {
            let observer = new IntersectionObserver(
              (entries) => {
                entries.forEach((entry) => {
                  if (entry.intersectionRatio !== 1 && !video.paused) {
                    video.pause();
                  } else if (video.paused) {
                    video.play();
                  }
                });
              },
              { threshold: 0.6 }
            );
            observer.observe(video);
          });
        }
      });
    }

    // And you would kick this off where appropriate with:
    playPauseVideo();
  </script>
</MainLayout>
